uart:
    - id: U1
      tx_pin: GPIO17
      rx_pin: GPIO05
      baud_rate: 19200
      parity: EVEN
      stop_bits: 1
      
modbus:
    - id: modbus1
      uart_id: U1
      
modbus_controller:
    - address: 0x1
      id: modbus_user
      update_interval: 10s
      modbus_id: modbus1
      
binary_sensor:
    # Non fonctionnel
    # - platform: modbus_controller
      # modbus_controller_id: modbus_user
      # name: "Filtre"
      # icon: mdi:air-filter
      # register_type: holding
      # address: 0x0082
      # device_class: problem
      
text_sensor:
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Aiguillage vanne"
    icon: mdi:valve
    entity_category: diagnostic
    register_type: holding
    address: 0x0064
    raw_encode: HEXBYTES
    lambda: |-
      uint16_t value = modbus_controller::word_from_hex_str(x, 0);
      switch (value) {
        case 0: return std::string("Etat initial");
        case 1: return std::string("ECS");
        case 2: return std::string("Air");
        case 3: return std::string("Standby");
        case 4: return std::string("Standby sécurité");
        case 5: return std::string("En cours de modification");
        default: return std::string("Unknown");
      }
      return x;
sensor:
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Version logiciel régulateur"
    entity_category: diagnostic
    icon: mdi:package
    register_type: holding
    address: 0x0001
    value_type: U_WORD
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Date et heure"
    device_class: timestamp
    entity_category: diagnostic
    icon: mdi:calendar-clock
    register_type: holding
    address: 0x0010
    value_type: U_DWORD
    filters:
        - offset: 229413106
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Température pièce principale"
    device_class: "temperature"
    state_class: "measurement"
    icon: mdi:thermometer
    register_type: holding
    address: 0x0078
    value_type: S_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k1a_lu
    internal: yes
    register_type: holding
    address: 0x96
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k1b_lu
    register_type: holding
    address: 0x97
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k2_lu
    register_type: holding
    address: 0x98
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k3_lu
    register_type: holding
    address: 0x99
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k4_lu
    register_type: holding
    address: 0x9A
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k5_lu
    register_type: holding
    address: 0x9B
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k6_lu
    register_type: holding
    address: 0x9C
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k7_lu
    register_type: holding
    address: 0x9D
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k8_lu
    register_type: holding
    address: 0x9E
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: thermostat_k9_lu
    register_type: holding
    address: 0x9F
    value_type: U_WORD
    unit_of_measurement: "°C"
    accuracy_decimals: 1
    filters:
      - multiply: 0.01
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: hp
    register_type: holding
    address: 0xA0
    value_type: U_WORD
    unit_of_measurement: "€"
    accuracy_decimals: 4
    filters:
      - multiply: 0.001
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    id: hc
    register_type: holding
    address: 0xA1
    value_type: U_WORD
    unit_of_measurement: "€"
    accuracy_decimals: 4
    filters:
      - multiply: 0.001

number:
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K1a"
    id: thermostat_k1a
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x96
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K1b"
    id: thermostat_k1b
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x97
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K2"
    id: thermostat_k2
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x98
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K3"
    id: thermostat_k3
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x99
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K4"
    id: thermostat_k4
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x9A
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K5"
    id: thermostat_k5
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x9B
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K6"
    id: thermostat_k6
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x9C
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K7"
    id: thermostat_k7
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x9D
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K8"
    id: thermostat_k8
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x9E
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Thermostat K9"
    id: thermostat_k9
    icon: "mdi:thermostat"
    entity_category: config
    unit_of_measurement: "°C"
    address: 0x9F
    value_type: U_WORD
    min_value: 0
    max_value: 31
    use_write_multiple: true
    multiply: 100
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Tarif HP"
    icon: mdi:currency-eur
    entity_category: config
    mode: box
    unit_of_measurement: "€"
    address: 0xA0
    value_type: U_WORD
    min_value: 0.05
    max_value: 1
    use_write_multiple: true
    multiply: 1000
    step: 0.001
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Tarif HC"
    icon: mdi:currency-eur
    entity_category: config
    mode: box
    unit_of_measurement: "€"
    address: 0xA1
    value_type: U_WORD
    min_value: 0.05
    max_value: 1
    use_write_multiple: true
    multiply: 1000
    step: 0.001
    
select:
  - platform: modbus_controller
    modbus_controller_id: modbus_user
    name: "Mode Air"
    icon: "mdi:air-conditioner"
    address: 0x007A
    value_type: U_WORD
    use_write_multiple: true
    optionsmap:
      "Off": 0
      "Confort Chauffage": 1
      "Eco Chauffage": 2
      "Prog A Chauffage": 3
      "Prog B Chauffage": 4
      "Confort Clim" : 5
      "Boost Clim" : 6
      "Prog C Clim" : 7
      "Prog D Clim" : 8
      "Ventilation" : 9