packages:
  device: !include tone_air.yaml
  telecommande_aquaair: !include telecommande_aquaair.yaml
  modbus_aquaair: !include modbus_aquaair.yaml
  
  
i2c:
    sda: GPIO04
    scl: GPIO02
    frequency: 100kHz 


ads1115:
  - address: 0x48

sensor:
  
  - platform: ntc
    sensor: resistance_bas
    calibration:
        - 1.3kOhm -> 78°C
        - 4.2kOhm -> 46°C
        - 11.66kOhm -> 24°C
    name: Temperature bas
    id: temperature_bas

  - platform: resistance
    id: resistance_bas
    sensor: adc_bas
    configuration: DOWNSTREAM
    resistor: 10kOhm
    name: Resistance bas

    
  - platform: ntc
    sensor: resistance_haut
    calibration:
        - 1.3kOhm -> 78°C
        - 4.8kOhm -> 44°C
        - 11.42kOhm -> 24°C
    name: Temperature haut
    id: temperature_haut

  - platform: resistance
    id: resistance_haut
    sensor: adc_haut
    configuration: DOWNSTREAM
    resistor: 10kOhm
    name: Resistance Haut

        
  - platform: ads1115
    id: adc_haut
    multiplexer: 'A0_GND'
    gain: 4.096
    update_interval: 10s
    filters:
        - sliding_window_moving_average:
            window_size: 15
            send_every: 15
  - platform: ads1115
    id: adc_bas
    multiplexer: 'A1_GND'
    gain: 4.096
    update_interval: 10s
    filters:
        - sliding_window_moving_average:
            window_size: 15
            send_every: 15
