esphome:
  name: "toug-${TOne}"
  comment: "${description}"
  build_path: "./.build/toug-${TOne}/"
  friendly_name : "${name}"   

packages:
  usb: !include usb.yaml
  modbus_air: !include modbus_air.yaml
  telecommande_air: !include telecommande_air.yaml
  
substitutions:
  K1a: K1a
  K1b: K1b # Normalement identique à K1a
  K2: K2
  K3: K3
  K4: K4
  K5: K5
  K6: K6
  K7: K7
  K8: K8

binary_sensor:
  - platform: gpio
    name: "Commande ${K1a}"
    id: commande_k1a
    device_class: power
    pin:
      number: GPIO39
      mode: INPUT
    filters:
      - delayed_on: 100ms
      - delayed_off: 100ms
  - platform: gpio
    name: "Commande ${K2}"
    id: commande_k2
    device_class: power
    pin:
      number: GPIO35
      mode: INPUT
    filters:
      - delayed_on: 100ms
      - delayed_off: 100ms
  - platform: gpio
    name: "Commande ${K3}"
    id: commande_k3
    device_class: opening
    pin:
      number: GPIO36
      mode: INPUT
    filters:
      - delayed_on: 100ms
      - delayed_off: 100ms
  - platform: gpio
    name: "Commande ${K4}"
    id: commande_k4
    device_class: opening
    pin:
      number: GPIO12
      mode: INPUT
    filters:
      - delayed_on: 100ms
      - delayed_off: 100ms
  - platform: gpio
    name: "Commande ${K5}"
    id: commande_k5
    device_class: opening
    pin:
      number: GPIO33
      mode: INPUT
    filters:
      - delayed_on: 100ms
      - delayed_off: 100ms
  - platform: gpio
    name: "Commande ${K6}"
    id: commande_k6
    device_class: opening
    pin:
      number: GPIO32
      mode: INPUT
    filters:
      - delayed_on: 100ms
      - delayed_off: 100ms

# Supprime les commandes non utilisées 
  - id: !remove ${nombre_thermostats | int < 2 and "commande_k2"} 
  - id: !remove ${nombre_thermostats | int < 3 and "commande_k3"} 
  - id: !remove ${nombre_thermostats | int < 4 and "commande_k4"} 
  - id: !remove ${nombre_thermostats | int < 5 and "commande_k5"} 
  - id: !remove ${nombre_thermostats | int < 6 and "commande_k6"} 
